### Go template
# Binaries for programs and plugins
*.exe
*.exe~
*.dll
*.so
*.dylib

# IntelliJ project files
.idea
*.iml
out
gen

### macOS template
# General
.DS_Store
.AppleDouble
.LSOverride

# Test binary, built with `go test -c`
*.test

output

*.cfg
*.pptx
*.log
*nohup.out
*settings.pyc
*.sublime-project
*.sublime-workspace
!.gitkeep
/.idea
/.vscode
/output
*.local.yml
